main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main>h1 {
  text-align: center;
}

main>form {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form-row {
  border: 1px solid black;
  width: 800px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.error,
.success,
.download_button {
  width: 800px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #e74c3c;
  color: white;
}

.success {
  background-color: #16a085;
}

.download_button {
  background-color: white;
  color: black;
  margin-top: 10px;
  border: 1px solid black;
  text-decoration: none
}

.download_button:hover {
  cursor: pointer;
}

.show-error,
.show-success,
.show-download-button {
  display: flex;
}

/* .download_button {
  margin: auto;
  margin-top: 5px;
  width: 800px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
} */